# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="en">
<head>
<title> §¡₲ʍª→ɭïɢ⩋ඞ for Christmas's Website </title>
</head>

<body>
<h1><h1 style="text-align:center;"><p style="font-size: 30px;"><p style="font-family: SF Pro Display;"> Welcome:) </h1>
<center><p style="font-family: Bierstadt;"><strong>Pls friend me in Discord (link below)</strong></p></center>
<ul>
<center><a href="https://discord.com/channels/@sean1733"><p style="text-align: center; font-family: Bierstadt"><strong>Discord Link</strong></p></a></center>
</ul>
<center><p style="font-family: Bierstadt;"><strong>Umm... Idk what to do here</strong></p></center>
<BODY BGCOLOR="#FF9999"></FONT>
<Body Background= "200w.gif">
<center><img src = "deepfried_1702392405834.jpg" width="100" height="100"></center>
<center><p style="font-family: Bierstadt;"><strong>Wanna listen to some music?</strong></p></center>
<center><p style="text-align:center;"><p style="font-family: Bierstadt;"><strong>Click the link below</strong></p></center>
<ul>
<center><a href="https://soundcloud.com/1733meme_hotline"><p style="font-family: Bierstadt;"><strong>Soundcloud Link</strong></p></a></center>
</ul>
</body>

<!DOCTYPE html>
